body {
	margin:0;
	padding:0;
	
}

header {
	background-size: cover;
	background-image:url("images/forest.jpeg");
	background-repeat: no-repeat;
}

#logo {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    padding-top: 180px;
}	

#nav {
	background-color: #a3a375;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1200px;
	margin: 0 auto;
	position:relative;	
}

#nav ul {
	background-color: #a3a375;
	height:20px;
	width:100%;
	list-style: none;
	text-align: center;
}

#nav ul li{
	padding-right: 42px;
	padding-left: 42px;
	background-repeat:no-repeat;
	display:inline-block;
}

li+li { 
	border-left: 1px solid #334d00; 
	border-color: #c0c0c0;
}

#nav ul li a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#ffffff;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	display:inline;
	text-transform: lowercase;

}

#otli{
	color: #000000;
	

}

.about{
	background-color: #ffffff;
	color:#1a1a00;
	margin-top: 10px;
	padding: 10px;

}

.culture {
	background-color: #d6d6c2;
	color:#1a1a00;
	
}

.language {
	
}

.travel {

}	
.travel img{
	width: 100%;
}

.gallery {
	background-color: #d6d6c2;
	color:#1a1a00;
	color:#1a1a00;
}

.gallery img {
	width: 400px;
}

a:link {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #1a1a00;
	text-align: center;
	font-weight: bold;
}

#contact {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #1a1a00;
	float: center;
	font-weight: bold;
}