body{
	background-color: #E9967A;
}

h1{
	margin: 3;
	color: teal;
	font-size: 30px;
	font-family: courier;
	margin: 3;
	margin: 0;
}

h2{
	margin: 0;
	color: #B0171F;
}

p{
	color: yellow;
	font-size: 24px;
	font-family: comic;
}