
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');

body {
	background-color: 000000;
	margin:0;
	padding:0;
	
}

header {
	background-size: cover;
	background-color: #EDCDC2;
	max-width: 100%;
	height: 900px;
	border-style: solid;
}

#logo {
    display: block;
    margin-left: 440px;
    margin-right: auto;
    padding-top: 320px;
    margin-bottom: 300px;

}	

#nav {
	background-color: #1c8346;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1300px;
	margin: 0 auto;
	position:relative;	
}

#nav ul {
	background-color: #DFCFBE;
	height:40px;
	width:100%;
	list-style: none;
	text-align: center;
}

#nav ul li{
	padding-right: 42px;
	padding-left: 42px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 10px;
}

li+li { 
	border-left: 1px solid #DFCFBE; 
	border-color: #DFCFBE;
}

#nav ul li a {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration:none;
	color: #313438;
	font-size: 16px;
	text-align: center;
	display:inline;
	text-transform: lowercase;
}

#main {
	background-color: #343fd3;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 2em;
	padding: 5em;

}

#main a {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	color: #1a1a00;
	text-transform: uppercase;

}

#two_column {
    background-color: #ffffff;
    border: 0.5em purple solid;
    padding: 2em;
    height: 19em;
}


#left {
    background-color: violet;
    border: 2px black solid;
    border border-radius: 8px;
    padding: 2em 1.5em 4em 1em;
    float: left;
    width: 45%;
}

#right {
    background-color: pink;
    border: 2px black solid;
    padding: 2em 1.5em 5em 1em;
    float: right;   
    width: 45%;
}


.clearfix: after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.button {
	text-decoration: none;
	background-color: #bfbfbf;
    border: 0;
    margin: 2em 0.5em;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    position: absolute;

}

.button:hover {
	background-color: #a3a375;

}

h1 {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	color: #262626;
}

.music {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;
	
}	

.travel {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;

}

.gallery {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 10em 3em;
	float: left;
	
}

.gallery img {
	float: left; 
	width: 45%; 
	margin-right: 1%; 
	margin-bottom: 0.5em;
	text-align: center;
	display: inline-block;
}

.image_container {
	float:left;
}

#footer {
	background-color: yellow;
	position: bottom;
	height: 10em;
	display: inline-block;
	width: 100%;
	font-size: 20px;

}


