@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');


body {
	margin:0;
	padding:0;
	
}

header {
	background-size: cover;
	background-image:url("../images/forest.jpeg");
	max-width: 100%;
	height: 900px;
}

#logo {
    display: block;
    margin-left: 440px;
    margin-right: auto;
    padding-top: 320px;
    margin-bottom: 300px;

}	

#nav {
	background-color: #a3a375;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1200px;
	margin: 0 auto;
	position:relative;	
}

#nav ul {
	background-color: #a3a375;
	height:40px;
	width:100%;
	list-style: none;
	text-align: center;
}

#nav ul li{
	padding-right: 42px;
	padding-left: 42px;
	background-repeat:no-repeat;
	display:inline-block;
	margin-top: 10px;
}



#nav ul li a {
	font-family: 'Righteous', cursive;
	font-weight: 100px;
	letter-spacing: 2px;
	text-decoration:none;
	color:#ffffff;
	font-size: 16px;
	text-align: center;
	display:inline;
	text-transform: lowercase;
}

#main{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #000000;
	line-height: 2em;
	margin-right: 0em;
	margin-left: 0em;	

}

#main a {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	color: #1a1a00;
	text-transform: uppercase;

}

.button {
	text-decoration: none;
	background-color: #bfbfbf;
    border: 0;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;

}

.button:hover {
	background-color: #a3a375;

}

#main h1 {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	color: #262626;
	font-size: 32px;
	padding: 1em 1em 1em 0em;
}


.language{
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0em 6em 0em 6em;
	float: left;
}

.food {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0em 6em 0em 6em;
	float: left;
	
}

.music {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0em 6em 0em 6em;
	float: left;
	
}	

.travel {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0em 6em 0em 6em;
	float: left;
}	

.shop {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0em 6em 0em 6em;
	float: left;
	
}

#foot {
	background-color: #a3a375;
	text-align: center;

}

#contact ul li {
	background-color: #a3a375;
	padding-right: 42px;
	padding-left: 42px;
	background-repeat:no-repeat;
	display:inline-block;
	margin-top: 10px;
	padding: 1em 3em 0em 3em;
}


#contact ul li a {
	font-family: 'Righteous', cursive;
	color: #ffffff;
	background-color: #a3a375;
	text-decoration: none;
	width: 100%;
	height: 80px;
	margin: auto 0;
	float: left;
}

.copy {
	color: #ffffff;
	padding: 0em 3em 3em 3em;


}

@media only screen and (max-width: 768px) {

	h1 {
	text-align: center;
	}

	#nav {
	position: unset;
	}

	#nav ul li a{
	display: block;
	text-align; center;
	margin:0;
	}

}


