@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');
* {
	margin:0;
	padding:0;
	box-sizing:border-box;	
}
body {
	color:#333;
	font-family:'Open Sans', sans-serif;
	line-height:1.3;
}
#main {
	max-width:600px;
	margin: auto;
}
#main section {
	padding:5em 0;
}
#intro {
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url("../images/forest.jpeg");
	color: #fff;
	height: 900px;
	text-align: center;
	padding: 10em 0 0;
}
header {
	background:#a3a375;
}
header img {
	width: 15em;
}	
nav a {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration:none;
	color:#ffffff;
	display:inline-block;
	text-transform: lowercase;
	padding:1em;
}

#main{
}

#main a {
	font-style: normal;
	text-transform: uppercase;

}

.button {
	text-decoration: none;
	background-color: #bfbfbf;
	color: inherit;
	padding: 1em 2em;
	border-radius: 4px;
	display: inline-block;
	margin-top: 2em;
}

.button:hover {
	background-color: #a3a375;

}
p {
	margin-top:1em;
}
h2 {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	font-size: 2em;
}
footer {
	background-color: #a3a375;
	text-align: center;
}


