@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
	margin:0;
	padding:0;
	box-sizing:border-box;	
}
body {
	color:#333;
	font-family:'Ubuntu', sans-serif;
	line-height: 1.5;
}

#intro {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/girl.jpeg");
	color: #000;
	height: 900px;
	text-align: center;
	padding: 2em 0;
}

#intro a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	padding: .5em 1em;
	border-radius: 5px;
	display: inline-block;
	background-color: #472f2f;
	opacity: .6;
	margin-top: 2em;
}
#intro img {
	margin-top: 7em;
	width: 15%;
}
header {
	background-color: #fff;
	/* height: 4.5em; */
}

header img {
	width: 7em;
	padding: .5em;
	float: left;
	margin-top: 0.4em;
}	
nav {

	height: 4em;
}

nav a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 10;
	letter-spacing: 100%;
	margin-top: 1em;
	text-decoration:none;
	color:#333;
	display:inline-block;
	text-transform: lowercase;
	padding: 1em;
}

#about {
	padding: 8em 0;
	max-width: 35em;
	margin: auto;
}

#shop {
	padding: 8em 0;
	max-width: 35em;
	margin: auto;
}

#about h2 {
	text-align: center;

}

h2 {
	font-size: 2em;
	color:#333;
	text-align: center;

}

#two_column {
	max-width: 70em;
	padding: 0;
	margin: auto;

}


#two_column img {
	margin: 0;
	width: 100%;
	/* padding: 1em; */
}

#two_column h2 {

	color: inherit;
	margin: 0;
	
}

#two_column a{
	text-decoration: none;
	/* padding-top: 9em; */
	color: #333;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(102, 102, 102, 0.25);
	color: #fff;
	line-height: 1.3;
	transition-duration: .5s;
	position:absolute; 
	top:50%; 
	transform:translateY(-40%);
}

#two_column article:hover a {
	background: rgba(102, 102, 102, 0.58);
}

#two_column p {
	text-align: center;
	
}

#two_column article {
    padding: 0;
    float: left;
    width: 49%;
    /* min-height: 33em; */
    position: relative;
    margin: .5%;
    line-height: 0;

}

#right {
    padding: 0;
    float: right;   
    width: 50%;

}

.button {
	text-decoration: none;
	background-color: #bfbfbf;
	color: inherit;
	padding: 1em 2em;
	border-radius: 4px;
	display: inline-block;
	margin-top: 3em;
}

.button:hover {
	background-color: #333;
	color: #fff;

}

p {
	margin-top:1em;
	font-size: 120%;

}

h1 {
	font-family:'Ubuntu', sans-serif;
	text-transform: uppercase;
	padding: 1em;
	max-width: 80%;
	font-size: 140%;
	color: #fff;
	margin: auto;
}

h1 a{
	text-decoration: none;
	color: #fff;

}

h2 {
	font-family:'Ubuntu', sans-serif;
	font-weight: 100;
	margin-top: .5em;
}

#gallery p {
	max-width: 45%;
	font-size: 18px;
}

#shop a {
	text-decoration: none;
	background-color: #bfbfbf;
	color: inherit;
	padding: 1em 2em;
	border-radius: 4px;
	display: inline-block;
	margin-top: 3em;
	margin-left: 12em;
}

footer {
	background-color: #87776c;
	color: #fff;
	text-align: center;

}


.copy {
	clear:both;
	font-size: 14px;
	padding: 2em;

}

.clearfix:after {
	display:block;
	clear:both;
	visibility:hidden;
	content:"";
	height:0;
	transform: translateY(-50%);
}

@media only screen and(max-width: 320px) {

	#intro img {
		width: 100%;
		height: auto;
	}

	* {
		margin: 1em;
	}

}
