@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
	margin:0;
	padding:0;
	box-sizing:border-box;	
}
body {
	color:#333;
	font-family:'Ubuntu', sans-serif;
	line-height: 1.5;
}

#intro {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/girl.jpeg");
	color: #000;
	height: 900px;
	text-align: center;
	padding: 8em;

}
header {
	background:#333;
	height: 4.5em;
}

header img {
	width: 8em;
	padding: 1em;
	float: left;
}	

nav a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 10;
	letter-spacing: 2px;
	text-decoration:none;
	color:#ffffff;
	display:inline-block;
	text-transform: lowercase;
	padding: 1.5em;
	float: right;
}

#about {
	text-align: justify;
	padding: 8em 14em 8em 14em;
}

#about h2 {
	text-align: center;

}

#main section {
	padding: 0em 14em 0em 14em;
	margin-top: 3em;
	text-align: justify;
}

h2 {
	font-size: 2em;
	color:#333;
	text-align: center;
}

#two_column {
	max-width: 90%;
	padding: 0 0 0 10em;
	position: center;
}


#two_column img {
	margin: 0;
	width: 100%;
	padding: 1em; 

}

#two_column h2 {
	text-align: center;
	color: #333;

}

#two_column a{
	text-decoration: none;
	padding-top: 9em;
	color: #333;

}

#two_column p {
	text-align: center;
	color: #333;
}

#left {
    padding: 0;
    float: left;
    width: 50%;

}

#right {
    padding: 0;
    float: right;   
    width: 50%;

}

.button {
	text-decoration: none;
	background-color: #bfbfbf;
	color: inherit;
	padding: 1em 2em;
	border-radius: 4px;
	display: inline-block;
	margin-top: 3em;
}

.button:hover {
	background-color: #333;
	color: #fff;

}

p {
	margin-top:1em;
	font-size: 18px;

}

h1 {
	font-family:'Ubuntu', sans-serif;
	background-color: #e0d1d1;
	opacity: 0.5;
	padding: 0.7em;
	max-width: 40%;
	font-size: 3em;
	color: #666;
	margin: 0 0 0 7em;
	
}

h1 a{
	text-decoration: none;
	color: #333;
}

h2 {
	font-family:'Ubuntu', sans-serif;
	font-weight: 100;
	margin-top: 1em;
}

#gallery p {

	max-width: 45%;
	font-size: 18px;
}

footer {
	background-color: #333;
	color: #fff;
	height: 10em;
	text-align: center;
}

