
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');

body {
	background-color: 000000;
	margin:0;
	padding:0;
	
}

header {
	background-size: cover;
	background-color: #D8E4F1;
	max-width: 100%;
	height: 900px;
	border-style: solid;
}

#logo {
    display: block;
    margin-left: 440px;
    margin-right: auto;
    padding-top: 320px;
    margin-bottom: 300px;

}	

#nav {
	background-color: #617B97;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1300px;
	margin: 0 auto;
	position:relative;	
}

#nav-wrapper img {
	width: 6%;
	height: 6%;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}

#nav ul {
	background-color: #617B97;
	height:50px;
	width:100%;
	list-style: none;
	text-align: right;
}

#nav ul li{
	padding-right: 2px;
	padding-left: 2px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
}


#nav ul li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 3px;
	text-decoration:none;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	display:inline;
	text-transform: lowercase;
	margin-right: 4em;
}

#main {
	background-color: #343fd3;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 5em;
	padding: 5em;

}

#main a {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	color: #1a1a00;
	text-transform: uppercase;

}


.button {
	text-decoration: none;
	background-color: #bfbfbf;
    border: 0;
    margin: 2em 0.5em;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    position: absolute;

}

.button:hover {
	background-color: #e5b209;

}

h1 {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	color: #262626;
	font-size: 22px;
}

.language {
	border-style: solid;
	background-color: #D8E4F1;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;
	line-height: 1.5em;
	font-size: 20px;

}

.food {
	border-style: solid;
	background-color: #D8E4F1;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;
	line-height: 1.5em;
	font-size: 20px;
}

.music {
	border-style: solid;
	background-color: #D8E4F1;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;
	line-height: 1.5em;
	font-size: 20px;
	
}	

.travel {
	border-style: solid;
	background-color: #D8E4F1;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;
	line-height: 1.5em;
	font-size: 20px;

}

.shop {
	border-style: solid;
	background-color: #D8E4F1;
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	padding: 3em 5em 5em 3em;
	float: left;
	line-height: 1.5em;
	font-size: 20px;
	
}

#footer ul{
	background-color: #617B97;
	position: bottom;
	height: 10em;
	display: inline-block;
	width: 100%;
	font-size: 20px;
	text-decoration: none;
	

}

#logo {
	position: center;
	width: 6%;
	height: 6%;
	
}
