
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Righteous|Satisfy|Trocchi');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Kaushan+Script|Montserrat|Open+Sans|Righteous|Satisfy|Trocchi');

body {
	background-color: #FFC675;
	margin:0;
	padding:0;
	
}

header {
	background-size: cover;
	background-color: #FFED74;
	max-width: 100%;
	height: 900px;
	border-style: solid;
}

#logo {
    display: block;
    margin-left: 440px;
    margin-right: auto;
    padding-top: 320px;
    margin-bottom: 300px;

}	

#nav {
	background-color: #1c8346;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1200px;
	margin: 0 auto;
	position:relative;	
}

#nav ul {
	background-color: #1c8346;
	height:20px;
	width:100%;
	list-style: none;
	text-align: center;
}

#nav ul li{
	padding-right: 42px;
	padding-left: 42px;
	background-repeat:no-repeat;
	display:inline-block;
}

li+li { 
	border-left: 1px solid #334d00; 
	border-color: #c0c0c0;
}

#nav ul li a {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration:none;
	color:#ffffff;
	font-size: 16px;
	text-align: center;
	display:inline;
	text-transform: lowercase;
}

#main{
	background-color: #FFC675;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: #000000;
	line-height: 2em;
	margin-right: 10em;
	margin-left: 10em;	

}

#main a {
	font-family: 'Open sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	color: #1a1a00;
	text-transform: uppercase;

}

.button {
	text-decoration: none;
	background-color: #bfbfbf;
    border: 0;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;

}

.button:hover {
	background-color: #a3a375;

}

h1 {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	color: #262626;
}


.language{
	border-style: solid;
	background-color: #E89C6C;
	color:#1a1a00;
	margin-top: 6em;
}

.food {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 2em;
	padding: 0px;
	margin-top: 0em;
	float: left;
	
}

.music {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 2em;
	padding: 0px;
	margin-top: 0em;
	float: left;
	
}	

.travel {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 2em;
	padding: 0px;
	margin-top: 0em;
	float: left;
}	

.gallery {
	border-style: solid;
	background-color: #E89C6C;
	margin-top: 0em;
	padding: 0px;
	float: left;
	
}

.gallery img {
	float: left; 
	width: 30%; 
	margin-right: 1%; 
	margin-bottom: 0.5em;
	text-align: center;
}

.image_container {
	float:left;
}


#footer {
    background-color: #FF957E;
    text-align: center;
    width: 100%;
    position: bottom;
    left: 0;
    bottom: 0;
}

