@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');

body {
	margin:0;
	padding:0;
	
}

header {
	background-size: cover;
	background-image:url("../images/forest.jpeg");
}

#logo {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    padding-top: 180px;

}	

#nav {
	background-color: #a3a375;
	position: fixed;
	width:100%;
	top:0px;
}

#nav-wrapper {
	width: 1200px;
	margin: 0 auto;
	position:relative;	
}

#nav ul {
	background-color: #a3a375;
	height:20px;
	width:100%;
	list-style: none;
	text-align: center;
}

#nav ul li{
	padding-right: 42px;
	padding-left: 42px;
	background-repeat:no-repeat;
	display:inline-block;
}

li+li { 
	border-left: 1px solid #334d00; 
	border-color: #c0c0c0;
}

#nav ul li a {
	font-family: arial, sans-serif;
	letter-spacing: 0.3em;
	text-decoration:none;
	color:#ffffff;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	display:inline;
	text-transform: lowercase;
}

#otli{
	color: #000000;
	line-height: 1.5em;
	font-family: 'Kurale', serif;
	font-size: 18px;	
}

.language{
	background-color: #ffffff;
	color:#1a1a00;
	margin-top: 5em;
	margin-right: 10em;
	margin-left: 10em;
}

.food {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0px;
	margin-top: 2em;
	float: left;
	margin-right: 10em;
	margin-left: 10em;

}

.music {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0px;
	margin-top: 2em;
	float: left;
	margin-right: 10em;
	margin-left: 10em;
}	


.travel {
	background-color: #ffffff;
	margin-top: 2em;
	padding: 0px;
	margin-top: 2em;
	float: left;
	margin-right: 10em;
	margin-left: 10em;

}

.gallery {
	background-color: #ffffff;
	margin-top: 2em;
	float: left;
	margin-right: 10em;
	margin-left: 10em;
}

a:link {
	font-family: 'Norican', cursive;
	font-size: 20px;
	text-decoration: none;
	color: #800000;
	text-align: center;
	font-weight: bold;
	font-style: normal;
}

h1 {
	font-family:'Abril Fatface', serif;
	letter-spacing: 0.1em;
	color: #334d4d;

}

/*----------footer----------------*/

#footer{

	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: left;
	text-decoration: none;
	
}
